@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}


/* root */
:root {
    /* color */
    --color-black : #1b1b1b;
    --color-lightblack : #303030;
    --color-white : #fff;
}


/* cursor */
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-black);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}
.cursor2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    border: 1px solid var(--color-black);
    background-color: var(--color-black);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}

/* .main_sec:hover ~ .cursor{
    opacity: 0;
}
.main_sec:hover ~ .cursor2{
    opacity: 0;
} */

.prointro_sec:hover ~ .cursor{
    border: none;
    z-index: 9;
}
.prointro_sec:hover ~ .cursor::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 88px;
    height: 128px;
    background: url('../img/arrow1.png') no-repeat center center / cover;
    transform: translate(-50%, -50%);
}
.prointro_sec:hover ~ .cursor2{
    opacity: 0;
}

.proje_sec2:hover ~ .cursor::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 160px;
    height: 88px;
    background: url('../img/arrow2.png') no-repeat center center / cover;
    transform: translate(-50%, -50%);
}
.proje_sec2:hover ~ .cursor2{
    opacity: 0;
}

.about_cursor1{
    border: 1px solid #fff;
    z-index: 9;
}
.about_cursor2{
    border: 1px solid #fff;
    background-color: #fff;
}

.swiper_cursor1 {
    opacity: .4;
    transform: translate(-50%, -50%) scale(2);
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    background: none;
    transition: all .2s;
}

.btn_cursor1 {
    opacity: .4;
    transform: translate(-50%, -50%) scale(3);
    background-color: #fff;
    border: 1px solid #fff;
    transition: all .2s;
}
.btn_cursor2 {
    opacity: 0;
}


/* btn 공통영역 */
.proje_btn {
    display: inline-block;
    margin-left: 10px;
}
.cont_btn .btn_text {
    margin-left: -10px;
}

.btn {
    position: relative;
    width: 230px;
    height: 60px;
    font-size: 0;
    line-height: 0;
    border: 1px solid var(--color-black);
    overflow: hidden;
    cursor: pointer;
}
.btn .btn_back {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    background-color: var(--color-black);
    transform: translate(-50%, -50%);
    transition: all .4s;
}
.btn:hover .btn_back{
    width: 300px;
    height: 300px;
}
.btn .btn_text {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    color: var(--color-black);
    transform: translate(-50%, -50%);
    z-index: 999;
}
.btn:hover .btn_text {
    color: #fff;
}
.btn:hover .btn_text i {
    color: #fff;
}


/* html */
html {

}


/* body */
body {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: #000;
}
body::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}


/* 로딩 */
#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    z-index: 9999;
}
#loading p {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    color: #fff;
}


/* header */
header {
}


header .circle {
    position: fixed;
    left: 2.5rem;
    top: 2.5rem;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
    background-color: #EDECE8;
    z-index: 9999;
}
header .circle p {
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    /* animation: rotateText 10s linear infinite; */
}
/* @keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
} */
header .circle p span{
    position: absolute;
    left: 50%;
    transform-origin: 0 3.75rem;
}

header h1 {
    position: absolute;
    top: 32vh;
    left: 8%;
    line-height: 1.1;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
}
header h1 span {
    -webkit-text-stroke: 2px var(--color-black);
    color: transparent;
}


/* main section1 */
.main_sec {
    position: relative;
    height: 100vh;
    min-height: 700px;
    /* cursor: none; */
}
.main_sec svg{
    position: absolute;
    top: -24%;
    left: 30%;
    z-index: -9;
}

.main_sec h2 {
    position: absolute;
    top: 56vh;
    left: 8%;
    color: var(--color-lightblack);
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.main_sec h2 span {
    font-weight: 700;
}

.main_sec .code_cursor {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: url('../img/code.png');
    background-attachment: fixed;
    z-index: -9;

}

.main_sec .peopleimg_wrap.active {
    left: 4%;
    width: 34%;
}
.main_sec .peopleimg_wrap.active .people_img {
    transform: rotateY(180deg);
    transition: all 1s;
}
.main_sec .peopleimg_wrap.active2 {
    left: -30%;
    opacity: 0;
}
.main_sec .peopleimg_wrap {
    position: fixed;
    top: 10vh;
    width: 40%;
    left: 48%;
    pointer-events: none;
    transition: all .6s;
    animation: top-bottomAni1 1.4s infinite ease-in-out alternate;
}
.main_sec .peopleimg_wrap .people_img {
    width: 100%;
}
.main_sec .compu_img {
    position: absolute;
    top: 59vh;
    width: 20%;
    right: 32%;
    animation: top-bottomAni1 1.4s infinite ease-in-out alternate;
}
@keyframes top-bottomAni1 {
    from {
        transform: translatey(0px);
    }
    to {
        transform: translatey(-20px);
    }
}
.main_sec .scroll_ani {
    position: absolute;
    left: 50%;
    bottom: 4%;
    display: flex;
    justify-content: center;
    width: 34px;
    height: 60px;
    border: 2px solid var(--color-black);
    transform: translateX(-50%);
    border-radius: 20px;
}
.main_sec .scroll_ani div {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-black);
    animation: scrollAni 2.2s ease-in-out infinite;
}
@keyframes scrollAni {
    0%{
        opacity: 0;
        margin-top: 4px;
    }
    75%{
        opacity: 1;
        margin-top: 14px;
    }
    100%{
        opacity: 0;
        margin-top: 20px;
    }
}


/* about section2 */
.about_sec {
}

.about_sec .top_wrap {
    margin-left: 40%;
    padding: 100px 8% 120px 0;
    width: 60%;
}
.about_sec .top_wrap h3 {
    position: relative;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
    color: var(--color-black);
}
.about_sec .top_wrap h3 svg {
    position: absolute;
    top: -10%;
    left: -4%;
}
.about_sec .top_wrap p {
    line-height: 1.4;
    font-size: 20px;
    color: var(--color-lightblack);
}
.about_sec .top_wrap p ~ p {
    margin-top: 30px;
}

.about_sec .bottom_wrap {
    position: relative;
    padding: 100px 8% 120px;
    overflow: hidden;
}
.about_sec .bottom_wrap h3 {
    margin-bottom: 100px;
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    text-align: right;
}
.about_sec .bottom_wrap .black_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0px;
    background-color: var(--color-black);
    z-index: -9;
}
.about_sec .bottom_wrap .history_list {
    display: flex;
    justify-content: flex-end;
}
.about_sec .bottom_wrap .history_list li{
    width: 16%;
    padding: 30px 0 40px;
    border-top: 1px solid #fff;
    transition: all .4s;
}
.about_sec .bottom_wrap .history_list li ~ li {
    margin-left: 30px;
}
.about_sec .bottom_wrap .history_list li p{
    color: #fff;
}
.about_sec .bottom_wrap .history_list li .his_day {
    font-size: 16px;
    font-weight: 100;
}
.about_sec .bottom_wrap .history_list li .his_name {
    margin: 20px 0 10px;
    font-size: 20px;
}
.about_sec .bottom_wrap .history_list li .his_text {
    font-size: 14px;
    font-weight: 300;
}


/* skill section3 */
.skill_sec {
    position: relative;
    display: flex; 
    justify-content: space-between;
    padding: 100px 8% 60px;
}
.skill_sec .skill_text {
    width: 30%;
}
.skill_sec .skill_text h3 {
    position: relative;
    margin-bottom: 40px;
    line-height: 1.3;
    color: var(--color-black);
    font-size: 40px;
    font-weight: 500;
}
.skill_sec .skill_text h3 svg {
    position: absolute;
    left: 8%;
    top: 40%;
    z-index: -9;
}
.skill_sec .skill_text p {
    color: var(--color-lightblack);
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.skill_sec .skill_wrap {
    width: 68%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.skill_sec .skill_wrap .skill_img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 46%;
}
.skill_sec .skill_wrap .skill_img img {
    width: 100%;
}

.skill_sec .skill_wrap .skill_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 20px;
}
.skill_sec .skill_wrap .skill_list > li{
    display: flex;
    align-items: center;
}
.skill_sec .skill_wrap .skill_list > li p {
    position: relative;
    width: 190px;
    height: 190px;
    margin-top: -20px;
    margin-right: 40px;
    line-height: 190px;
    text-align: center;
    font-size: 20px;
    color: var(--color-black);
    border-radius: 100%;
    background-color: #fff;
}
.skill_sec .skill_wrap  .skill_list > li p.skill{
}
.skill_sec .skill_wrap .skill_list > li p.tool{
}
.skill_sec .skill_wrap .skill_list > li p:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-black);
    border-radius: 100%;
    z-index: 9;
    transform: translate(-50%, -50%);
}
.skill_sec .skill_wrap .skill_list > li p:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110%;
    height: 110%;
    border-radius: 100%;
    background-color: var(--color-black);
    z-index: -9;
    transform: translate(-50%, -50%);
    animation: skillAni 1.4s infinite ease-in-out;
}
@keyframes skillAni {
    0%{
        width: 100%;
        height: 100%;
    }
    50%{
        width: 110%;
        height: 110%;
    }
    100%{
        width: 120%;
        height: 120%;
        opacity: 0;
    }
}
.skill_sec .skill_wrap .skill_list > li > ul {
    margin-top: -20px;
}
.skill_sec .skill_wrap .skill_list > li > ul > li {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-black);
}


/* prointro section4 */
.prointro_sec {
    position: relative;
    padding: 200px 0 500px;
    color: #fff;
    background-color: var(--color-black);
}
.prointro_sec svg {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
}

.prointro_sec h3 {
    color: transparent;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    -webkit-text-stroke: 1px #fff;
}
.prointro_sec h3 span {
    color: #fff;
}

.prointro_sec .compu_img2 {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translateX(-50%);
    z-index:9;
}

.prointro_sec .prointro_list {
    position: absolute;
    top: 47.4%;
    left: 0%;
    display: flex;
    transform: translateX(-50%);
}


/* proje section5 */
.proje_sec1 {
}

.proje_sec1 .index {
    position: fixed;
    left: -20%;
    bottom: 0;
    opacity: 0;
    transition: all .4s;
}
.proje_sec1 .index.active {
    left: 0;
    opacity: 1;
}
.proje_sec1 .index li {
    font-size: 30px;
    font-weight: 500;
    transition: all .4s;
}
.proje_sec1 .index li.active {
    -webkit-text-stroke: 2px var(--color-black);
    color: transparent;
    font-size: 80px;
    font-weight: 900;
}

.proje_sec1 .project {
    padding: 160px 8% 100px;
}
.proje_sec1 .project::after{
    content: '';
    clear: both;
    display: block;
}
.proje_sec1 .pro_left {
    width: 44%;
}
.proje_sec1 .pro_right {
    width: 44%;
    float: right;
}

.proje_sec1 .proje1_info h4{
    font-size: 50px;
    color: var(--color-black);
    font-weight: 900;
    margin-bottom: 60px;
}
.proje_sec1 .proje1_info .over_box {
    margin-bottom: 30px;
}
.proje_sec1 .proje1_info .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
    color: var(--color-black);
}
.proje_sec1 .proje1_info .text {
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-lightblack);
}
.proje_sec1 .proje1_info .about_box {
    margin-bottom: 50px;
}
.proje_sec1 .proje1_info .about_box dl{
    line-height: 1.6;
}
.proje_sec1 .proje1_info .about_box dl::after {
    content: '';
    clear: both;
    display: block;
}
.proje_sec1 .proje1_info .about_box dl dt{
    float: left;
    width: 70px;
    font-weight: 500;
}
.proje_sec1 .proje1_info .about_box dl dd{
}

.proje_sec1 .project1 {
    background: url('../img/bg-project1.png') no-repeat 80% bottom / 40%;
}
.proje_sec1 .project2 {
    color: #fff;
    background: url('../img/bg-project2.png') no-repeat 10% 70% / 46%;
}
.proje_sec1 .project3 {
    color: #fff;
    background: url('../img/bg-project3.png') no-repeat center right / contain;
}
.proje_sec1 .project4 {
    background: url('../img/bg-project4.png') no-repeat 13% center / contain;
}
.proje_sec1 .project5 {
    color: #fff;
    background: url('../img/bg-project5.png') no-repeat right bottom / 44%;
}
.proje_sec1 .project6 {
    color: #fff;
    background: url('../img/bg-project6.png') no-repeat 10% center / 48%;
}
.proje_sec1 .project1 .title {
    color: #FF0000;
}
.proje_sec1 .project2 .title {
    color: #991509;
}
.proje_sec1 .project3 .title {
    color: #FF0000;
}
.proje_sec1 .project4 .title {
    color: #F67392;
}
.proje_sec1 .project4 h4 {
    color: #395082;
}
.proje_sec1 .project5 .title {
    color: #252C54;
}
.proje_sec1 .project6 .title {
    color: #FF6E0B;
}



/* proje section6 */
.proje_sec2{
    height: 620px;
    padding: 100px 0 50px;
    background-color: var(--color-black);
    overflow: hidden;
}

.proje_sec2 h3 {
    position: relative;
    margin-left: 8%;
    color: #fff;
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 30px;
}
.proje_sec2 h3 svg {
    position: absolute;
    top: -24%;
    left: -1%;
}
.proje_sec2 .text {
    margin-left: 8%;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
}

.proje_sec2 .mySwiper {
    margin-top: 20px;
}
.proje_sec2 .mySwiper .swiper-wrapper {
    padding: 40px 0;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide {
    transition: all .4s;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide:hover {
    background-color: #fff;
    transform: scale(1.2);
    z-index: 9;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide:hover a .proje_img img {
    transform: scale(1.1);
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide a .proje_img {
    overflow: hidden;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide a .proje_img img {
    width: 100%;
    transition: all .4s;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide:hover a .proje_info {
    margin: 8px 10px 20px;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide a .proje_info p {
    color: #fff;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide:hover a .proje_info p {
    color: var(--color-black);
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide a .proje_info .proje_title {
    font-size: 18px;
    font-weight: 500;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide a .proje_info .proje_text {
    font-size: 14px;
}

.modal_wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 40%;
    height: 90%;
    transform: translate(-50%, -50%);
    z-index: 999;
    overflow: auto;
}
.modal_wrap::-webkit-scrollbar {
    width: 10px;
}
.modal_wrap::-webkit-scrollbar-track {
    background-color: #000;
}
.modal_wrap::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #fff;
}
.modal_wrap::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
.modal_wrap img,
.modal_wrap video {
    width: 100%;
}
.black_wrap {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    cursor: pointer;
    z-index:99;
    transition: all .1s;
}
.not_scroll{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* contact section7 */
.contact_sec {
    position: relative;
    padding: 0 8% 0;
    background: linear-gradient(-10deg, #fff 60%, var(--color-black) 40%);
}

.contact_sec .wrap {
    display: flex;
}

.contact_sec .left_wrap {
    position: relative;
    width: 54%;
    height: 740px;
    overflow: hidden;
}
.contact_sec .left_wrap img {
    width: 100%;
    animation: skewAni 3s infinite;
}
.contact_sec .left_wrap .talk_img {
    position: absolute;
    width: 30%;
    animation: talkAni 3s infinite ease-in-out;
}
.contact_sec .left_wrap .talk_img.talk1 {
    left: 14%;
    top: 24%;
}
.contact_sec .left_wrap .talk_img.talk2 {
    left: 40%;
    top: 8%;
}
.contact_sec .left_wrap .talk_img.talk3 {
    right: 0;
    top: 14%;
}
.contact_sec .left_wrap .run_img {
    position: absolute;
    bottom: 0;
    width: 90%;
}
@keyframes skewAni {
    0% {
        transform: skew(2deg);
    }
    50% {
        transform: skew(0deg);
    }
    100% {
        transform: skew(2deg);
    }
}
@keyframes talkAni {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    20% {
        opacity: 1;
        margin-top: 0;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.contact_sec .right_wrap {
    width: 46%;
    margin-top: 340px;
}
.contact_sec .right_wrap h3{
    color: var(--color-black);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.contact_sec .right_wrap .cont_name,
.contact_sec .right_wrap .cont_email {
    position: relative;
    margin-bottom: 20px;
    color: var(--color-lightblack);
    font-size: 20px;
    width: 60%;
}
.contact_sec .right_wrap .cont_name:before,
.contact_sec .right_wrap .cont_email:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgb(204, 204, 204);
}
.contact_sec .right_wrap .cont_name i,
.contact_sec .right_wrap .cont_email i{
    margin-right: 10px;
}

.contact_sec .right_wrap > span {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 32px;
}

.contact_sec .right_wrap .box {
    position: relative;
}
.contact_sec .right_wrap .box svg {
    position: absolute;
    left: -12%;
    top: -32%;
    z-index: 9;;
}

.contact_sec .right_wrap .bye {
    position: absolute;
    right: 8%;
    bottom: 4%;
    font-size: 16px;
    font-weight: 500;
}


/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */


/* ---   query TABLET --- */
@media (max-width : 1024px) {
    /* header */
    header h1 {
        font-size: 54px;
        z-index: 9;
    }
    .main_sec h2 {
        top: 50vh;
        font-size: 20px;
        z-index: 9;
    }

    
    /* main section1 */
    .main_sec .peopleimg_wrap.active {
        left: 100%;
        opacity: 0;
    }

    .main_sec .peopleimg_wrap {
        width: 50%;
        left: 50%;
    }
    .main_sec .compu_img {
        top: 52vh;
    }


    /* about section2 */
    .about_sec .top_wrap {
        margin: 0;
        padding: 100px 4% 120px;
        width: 100%;
    }

    .about_sec .bottom_wrap {
        padding: 100px 4% 120px;
    }
    .about_sec .bottom_wrap .history_list {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-end;
    }
    .about_sec .bottom_wrap .history_list li {
        width: 24%;
    }
    .about_sec .bottom_wrap .history_list li ~ li {
        margin-left: 30px;
    }


    /* skill section3 */
    .skill_sec {
        flex-direction: column;
        padding: 100px 4% 60px;
    }

    .skill_sec .skill_text {
        width: 100%;
    }

    .skill_sec .skill_wrap {
        width: 100%;
    }

    .skill_sec .skill_img {
        width: 36%;
    }

    .skill_sec .skill_list {
        width: 64%;
    }
    .skill_sec .skill_wrap .skill_list > li p {
        width: 140px;
        height: 140px;
        margin-top: -20px;
        line-height: 140px;
    }
    .skill_sec .skill_wrap .skill_list > li > ul > li {
        font-size: 20px;
    }


    /* contact section7 */
    .contact_sec {
        padding: 0 4% 0;
    }
    .contact_sec .wrap {
    }
    .contact_sec .left_wrap {
        width: 48%;
        height: auto;
    }
    .contact_sec .left_wrap .talk_img.talk1 {
        left: 10%;
        top: 40%;
    }
    .contact_sec .left_wrap .talk_img.talk2 {
        left: 36%;
        top: 24%;
    }
    .contact_sec .left_wrap .talk_img.talk3 {
        right: 4%;
        top: 30%;
    }
    
    .contact_sec .right_wrap {
        width: 52%;
        margin-top: 80px;
    }
    .contact_sec .right_wrap h3 {
    }
    .contact_sec .right_wrap .cont_name,
    .contact_sec .right_wrap .cont_email {
        width: 70%;
}
}


/* --- media query MOBILE--- */
@media (max-width : 768px) {
    /* header */
    header h1 {
        font-size: 50px;
    }
    .main_sec h2 {
        top: 56vh;
        font-size: 18px;
    }


    /* main section1 */
    .main_sec {
    }
    .main_sec .peopleimg_wrap {
        top: 60vh;
        width: 20%;
        left: 10%;
    }
    .main_sec .peopleimg_wrap .people_img {

    }
    .main_sec .compu_img {
        top: 84vh;
        right: 20%;
        width: 30%;
    }


    /* about section2 */
    .about_sec {
    }
    .about_sec .top_wrap {
        padding: 180px 4% 120px;
    }

    .about_sec .bottom_wrap .history_list {
        margin: 0 4% 0;
        justify-content:space-between;
    }
    .about_sec .bottom_wrap .history_list li {
        width: 48%;
        
    }
    .about_sec .bottom_wrap .history_list li ~ li {
        margin-left: 0px;
    }


    /* skill section3 */
    .skill_sec .skill_wrap {
        flex-direction: column;
        align-items: center;
    }
    .skill_sec .skill_wrap .skill_img {
        width: 40%;
    }

    .skill_sec .skill_wrap .skill_list {
        margin-top: 40px;
        width: 100%;
    }


    /* proje section5 */
    .proje_sec1 .pro_left {
        width: 100%;
    }
    .proje_sec1 .pro_right {
        width: 100%;
        float: none;
    }


    /* contact section7 */
    .contact_sec .wrap {
        display: flex;
        flex-direction: column;
    }

    .contact_sec .left_wrap {
        width: 100%;
    }

    .contact_sec .right_wrap {
        width: 100%;
    }
    .contact_sec .right_wrap h3{
        color: #fff;
    }
}