@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* cursor */
.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}
.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    border: 1px solid red;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}

.box:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: blue;
    opacity: .5;
}
.box:hover ~ .cursor2 {
    opacity: 0;
}
.main_sec:hover ~ .cursor{
    opacity: 0;
}
.main_sec:hover ~ .cursor2{
    opacity: 0;
}
/* .bottom_wrap:hover {
    background-color: red;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}

/* root */
:root {
    /* color */
    --color-black : #000;
    --color-white : #fff;
}


/* header */
header {
}


header .circle {
    position: fixed;
    left: 2.5rem;
    top: 2.5rem;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
    background-color: #EDECE8;
    z-index: 9999;
}
header .circle p {
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    /* animation: rotateText 10s linear infinite; */
}
/* @keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
} */
header .circle p span{
    position: absolute;
    left: 50%;
    transform-origin: 0 3.75rem;
}

header h1 {
    position: absolute;
    top: 32vh;
    left: 16%;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

header nav ul {
    position: fixed;
    left: 0;
    bottom: 0;
}


/* main section1 */
.main_sec {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    cursor: none;
}
.main_sec h2 {
    position: absolute;
    top: 40vh;
    left: 16%;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
}
.main_sec h2 span {
    font-weight: 600;
}

.main_sec .code_cursor {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: url('./img/code.png');
    background-attachment: fixed;
    border: 2px solid #fff;
    z-index: -9;

}

.main_sec .peopleimg_wrap {
    position: fixed;
    left: 54%;
    top: 10vh;
    width: 40%;
    animation: ani  1.4s infinite ease-in-out alternate;
    transition: all .6s;
}
.main_sec .peopleimg_wrap.active {
    left: -16%;
    width: 54%;
}
.main_sec .peopleimg_wrap .people_img {
    width: 100%;
    animation: top-bottomAni1 1.4s infinite ease-in-out alternate;
}
.main_sec .peopleimg_wrap .note_img {
    position: fixed;
    right: 24%;
    top: 34%;
    animation: top-bottomAni1 1.4s infinite ease-in-out alternate;
}
.main_sec .peopleimg_wrap .img1 {
    position: fixed;
    right: 20%;
    top: 14%;
    animation: top-bottomAni1 1.4s infinite ease-in-out alternate;
}
.main_sec .peopleimg_wrap .img2 {
    position: fixed;
    right: 24%;
    top: 34%;
    animation: top-bottomAni1 1.4s infinite ease-in-out alternate;
}
.main_sec .peopleimg_wrap .img3 {
    position: fixed;
    right: 40%;
    top: 50%;
    animation: top-bottomAni1 1.4s infinite ease-in-out alternate;
}
.main_sec .peopleimg_wrap .img4 {
    position: fixed;
    right: 0%;
    top: 40%;
    animation: top-bottomAni1 1.4s infinite ease-in-out alternate;
}
.main_sec .peopleimg_wrap .img5 {
    position: fixed;
    right: 6%;
    top: 70%;
    animation: top-bottomAni1 1.4s infinite ease-in-out alternate;
}
@keyframes top-bottomAni1 {
    from {
        transform: translatey(0px);
    }
    to {
        transform: translatey(-20px);
    }
}


/* about section2 */
.about_sec {
}

.about_sec .top_wrap {
    margin-left: 40%;
    padding: 100px 0 120px;
    width: 60%;
}
.about_sec .top_wrap h3 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}
.about_sec .top_wrap p {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.about_sec .bottom_wrap {
    position: relative;
    height: 530px;
    padding: 60px 0;
    border-top: 2px solid red;
}
.about_sec .bottom_wrap h3 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 90px;
}
.about_sec .bottom_wrap .black_box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;  /* 530px */
    background-color: var(--color-black);
    z-index: -9;
}
.about_sec .bottom_wrap .history_list {
    display: flex;
}
.about_sec .bottom_wrap .history_list li{
    color: #fff;
    padding: 30px 0 40px;
    border-top: 1px solid #fff;
    transition: all .4s;
}
.about_sec .bottom_wrap .history_list li ~ li {
    margin-left: 60px;
}
.about_sec .bottom_wrap .history_list li:hover {
    color: var(--color-black);
    background-color: #fff;
}


/* skill section3 */
.skill_sec {
    position: relative;
    height: 100vh;
}

.skill_sec h3 {
    font-size: 40px;
    font-weight: 500;
}

.skill_sec .people_img2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.skill_sec .skill_list {
    position: absolute;
    right: 5%;
}
.skill_sec .skill_list > li{
    display: flex;
    align-items: center;
}
.skill_sec .skill_list > li p {
    width: 240px;
    height: 240px;
    line-height: 240px;
    text-align: center;
    font-size: 26px;
    border: 2px solid var(--color-black);
    border-radius: 100%;
    margin-bottom: -40px;
    margin-right: 40px;
}
.skill_sec .skill_list > li > ul > li {
    font-size: 30px;
    font-weight: 600;
}


/* proitro section4 */
.prointro_sec {
    position: relative;
    height: 100vh;
    padding: 200px 0;
    color: #fff;
    background-color: var(--color-black);
}

.prointro_sec h3 {
    color: transparent;
    font-size: 40px;
    text-align: center;
    -webkit-text-stroke: 1px #fff;
}
.prointro_sec h3 span {
    color: #fff;
}

.prointro_sec .compu_img2 {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translateX(-50%);
    z-index:9;
}

.prointro_sec .prointro_list {
    position: absolute;
    top: 47.4%;
    left: 0%;
    display: flex;
    transform: translateX(-50%);
}


/* proje section5 */
.proje_sec1 {

}

.proje_sec1 .project {
    height: 100vh;
    overflow: hidden;
}
.proje_sec1 .project img {
    width: 100%;
}



/* proje section6 */
.proje_sec2{
    padding: 100px 0;
    background-color: var(--color-black);
    height: 100vh;
    color: #fff;
}

.proje_sec2 h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.proje_sec2 .mySwiper {
    margin-top: 60px;
    background-color: black;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide {
    overflow: hidden;
}
.proje_sec2 .mySwiper .swiper-wrapper .swiper-slide img {
    width: 100%;
}


/* contact section7 */










/* .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } */
/* 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */ 