@charset "utf-8";
#btnwrap {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.btn {
  transition: all 0.3s;
}
#btnwrap .btn {
  width: 240px;
  height: 70px;
  font-size: 24px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid black;
}
#btnwrap .btn:first-of-type {
  margin-right: 4%;
}
#btnwrap .btn.actvie {
  background: var(--point-color);
  border: 1px solid var(--point-color);
}
.contentwrap {
  width: 70%;
  margin: 0 auto;
  border: 1px solid var(--light2-color);
}
.contentwrap img {
  width: 100%;
}
.contentwrap img.active {
  display: none;
}
/*  */
/*  */
/*  */
/*  */
@media screen and (max-width:1024px){
  .contentwrap {
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--light2-color);
  }
}