@charset "utf-8";

/* root */
:root {
  --point-color: #0fb4a6;
  --black-color: #333;
  --gray-color: #666;
  --light-color: #999;
  --light2-color: #dadada;
  --light3-color: #f3f3f3;
}

* {
  color: white;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-image: url("../img/우주배경.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: -999;
}

/* wrap */
.wrap {
  margin: 0 auto;
  width: 84%;
}

/* 행성 + 캐릭터 애니메이션 */
.planet {
  position: absolute;
  animation: up-down 1.4s infinite ease-in-out alternate;
  z-index: -9;
  z-index: -9;
}
@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-20px);
  }
}

/* 이미지 */
.planet3 {
  top: 8%;
  right: 14%;
  width: 20vw;
}
.planet4 {
  top: 40%;
  right: 8%;
  width: 9vw;
}
.planet6 {
  top: 60%;
  left: -10%;
  width: 40vw;
}
.character2 {
  top: 44%;
  left: 4%;
  width: 18vw;
}

/* 헤더 영역 */
#header #m-nav {
  display: none;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 400px; */
  overflow: hidden;
  z-index: 999;
}

#header #p-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
}

#header #p-nav #logo {
  width: 200px;
}
#header #p-nav #logo a img {
  margin-top: 20px;
  width: 100%;
}

#header #p-nav .menuboxs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#header #p-nav .menuboxs #mainmenu {
  margin-right: 10%;
  display: flex;
  text-align: center;
  width: 120%;
}
#header #p-nav #mainmenu {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#header #p-nav #mainmenu > li {
  width: 25%;
}
#header #p-nav #mainmenu > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  font-weight: 500;
}
#header #p-nav #mainmenu > li > a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0%;
  height: 6px;
  opacity: 0;
  background: var(--point-color);
  border-radius: 30px;
  transform: translateX(-50%);
  transition: all 0.2s;
}
#header #p-nav #mainmenu > li:hover > a:after {
  width: 40%;
  opacity: 1;
}
#header #p-nav #mainmenu .submenu li {
  padding-top: 26px;
}
#header #p-nav #mainmenu .submenu li a {
  font-size: 18px;
  transition: all 0.2s;
}
#header #p-nav #mainmenu .submenu li a:hover {
  color: var(--point-color);
}

#header #p-nav #util {
  display: flex;
  height: 70px;
  line-height: 70px;
}
#header #p-nav #util li {
  margin-left: 50px;
}
#header #p-nav #util li a {
  font-size: 18px;
  transition: all 0.2s;
}
#header #p-nav #util li a:hover {
  color: var(--point-color);
}
/* 자바스크립트 active */
.heademouse {
  background: black !important;
  height: 420px;
  overflow: visible;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-out;
}
.headhr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.deheademouse {
  background: transparent;
  height: 70px;
  overflow: hidden;
  border-bottom: 0;
  transition: all 0.3s ease-out;
}
.deheadhr {
  border-bottom: 0;
}
.headactive {
  background: black;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.deheadactive {
  background-color: transparent;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

#language {
  position: fixed;
  top: 58px;
  right: 8.4%;
  padding: 20px 30px;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 2;
  z-index: 99999;
  transition: opacity 0.3s;
}
.delangpops {
  display: block;
}
.delangpop {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: none;
}
#language li a:hover {
  text-decoration: underline;
}
.lactive {
  display: none !important;
}
.llactive {
  color: var(--point-color);
}
#langbtn {
  cursor: pointer;
  width: 126px;
}
#langbtn span {
  border: 1px solid #fff;
  padding: 0 4px;
  margin-left: 2px;
}
#langbtn i {
  transition: all 0.3s;
}
.arrowrotate {
  transform: rotate(180deg);
}


/* 타이틀 영역 */
.common-tit {
  text-align: center;
  margin: 140px 0 90px;
  color: white;
}
#tit_menu {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
#tit_menu li a {
  display: inline-block;
  padding: 0 40px;
  transition: all 0.3s;
  color: white;
  position: relative;
}
.titactive {
  color: var(--point-color) !important;
}
#tit_menu li:hover a {
  color: var(--point-color);
}
#tit_menu > li > a.titactive:after {
  content: "";
  width: 50%;
  opacity: 1;
  background: var(--point-color);
  height: 6px;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);
}

/* footer 영역 */
#footer_sec .common-tit {
  margin-top: 0px;
}
#footer_sec {
  width: 100%;
  background-color: black;
  padding: 40px 0;

}

#footer_sec #partner {
  width: 74%;
  margin: 70px auto 6%;
}
#footer_sec #partner .swiper-box .partnerslide {
  position: relative;
}
#footer_sec #partner .swiper-box .partnerslide {
  overflow: hidden;
}
#footer_sec #partner .swiper-box .partnerslide .swiper-wrapper .swiper-slide {
  width: 140px;
  background-color: white;
  overflow: hidden;
  border-radius: 12px;
}
#footer_sec #partner .swiper-box .partnerslide .swiper-wrapper .swiper-slide img {
  width: 100%;
}
#footer_sec #partner .swiper-box .partnerslide .swiper-wrapper .swiper-slide img {
  width: 100%;
}
/* #footer_sec #footer{
margin-top: 130px;
} */

#footer_sec #footer #footmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer_sec #footer #footmenu > li > a {
  opacity: 0.6;
  margin: 0 30px;
  transition: all 0.2s;
}
#footer_sec #footer #footmenu > li span {
  text-decoration: underline;
}
#footer_sec #footer #footmenu > li:hover > a {
  opacity: 1;
}
#footer_sec #footer #footmenu #sns {
  display: flex;
}
#footer_sec #footer #footmenu #sns li {
  margin: 0 10px;
  font-size: 30px;
}
#footer_sec #footer #footmenu #sns li a {
  opacity: 0.6;
}
#footer_sec #footer #footmenu #sns li:hover a {
  opacity: 1;
}
#footer_sec #footer #footlogo {
  text-align: center;
  margin: 30px 0;
}
#footer_sec #footer address {
  text-align: center;
  font-style: normal;
  line-height: 1.8;
  opacity: 0.8;
  color: white;
}
#footer_sec #footer #addcopy {
  margin-top: 20px;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 300;
}




/* ----------------- */
/* ----------------- */
/* ----------------- */



@media screen and (max-width: 1355px) {
  #header #p-nav .menuboxs #mainmenu {
    margin-right: 0%;
  }
  #header #p-nav #util li {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1160px) {
  #header #nav #util li {
    margin-left: 14px;
  }
}

/* 태블릿 반응형 */
@media screen and (max-width: 1024px) {
  /* wrap 영역 */
  .wrap {
    margin: 0 auto;
    width: 90%;
  }

/* 행성 영역 */
.planet3 {
  top: 10%;
  right: 8%;
  width: 20vw;
}
.planet4 {
  top: 30%;
  right: 2%;
  width: 9vw;
}
.planet6 {
  top: 60%;
  left: -10%;
  width: 40vw;
}
.character2 {
  top: 50%;
  left: 4%;
  width: 18vw;
}

/* 타이틀 영역 */
.common-tit {
  font-size: 36px;
}
#tit_menu li a {
  font-size: 20px;
}


  /* 헤더 영역 */
  #header #p-nav {
    display: none;
  }

  #header {
    background-color: black;
  }

  #header #m-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
  }

  #habbtn {
    position: absolute;
    top: 20px;
    right: 0;
    width: 40px;
    height: 30px;
    z-index: 9999999;
    cursor: pointer;
  }
  #habbtn span {
    width: 100%;
    height: 4px;
    border-radius: 30px;
    background: white;
    position: absolute;
    transition: all 0.2s;
    opacity: 1;
  }
  #habbtn span:nth-of-type(1) {
    top: 0;
  }
  #habbtn span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  #habbtn span:nth-of-type(3) {
    top: 50%;
    transform: translateY(-50%);
  }
  #habbtn span:nth-of-type(4) {
    bottom: 0;
  }
  #habbtn.hamactive span:nth-of-type(1) {
    opacity: 0;
  }
  #habbtn.hamactive span:nth-of-type(2) {
    transform: rotate(45deg);
  }
  #habbtn.hamactive span:nth-of-type(3) {
    transform: rotate(-45deg);
  }
  #habbtn.hamactive span:nth-of-type(4) {
    opacity: 0;
  }

  #header #m-nav #logo {
    width: 180px;
  }
  #header #m-nav #logo a img {
    margin-top: 10%;
    width: 100%;
  }

  #header #m-nav .m {
    display: flex;
    position: fixed;
    right: -70%;
    top: 0;
    width: 70%;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    z-index: 99999;
    transition: all .4s;
  }
  .menuactive {
    right: 0% !important;
  }


  #header #m-nav .m #mainmenu > li {
    width: 100%;
  }
  #header #m-nav .m #mainmenu > li > a {
    padding-left: 40px;
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    font-weight: 500;
    transition: all 0.3s;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  #header #m-nav .m #mainmenu > li:hover > a {
    background: var(--point-color);
  }
  #header #m-nav .m #mainmenu .submenu li {
    margin-left: 60px;
  }
  #header #m-nav .m #mainmenu .submenu li a {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header #m-nav .m #mainmenu .submenu li a:hover {
    color: var(--point-color);
    transition: all 0.2s;
  }
  #header #m-nav .m #mainmenu .submenu li:first-child a {
    margin-top: 30px;
  }

  #header #m-nav .m #util {
    display: flex;
    font-size: 14px;
    margin: 80px 0 20px 20px;
  }
  #header #m-nav .m #util li {
    margin-right: 10px;
  }

  /* 언어 팝업창 영역 */
  #language {
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 0px;
    z-index: 99999;
    transition: opacity 0.3s;
    line-height: 2;
    width: 110px;
    margin-top: 10px;
  }
  .delangpops {
    display: none;
  }


  #header #m-nav .m #mainmenu .submenu {
    display: none;
  }
  
  .menublack {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    pointer-events: none;
  }
  .blactive {
    display: none;
  }
}


/* MOBILE 반응형 */
@media screen and (max-width: 768px) {
  /* 타이틀 영역 */
  .common-tit {
    font-size: 34px;
  }
  #tit_menu li a {
    font-size: 18px;
  }
  #tit_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  #tit_menu li a {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
    color: white;
    position: relative;
  }

  /* 행성 영역 */
  .planet3 {
    top: 14%;
    right: 8%;
    width: 26vw;
  }
  .planet4 {
    top: 60%;
    right: 2%;
    width: 15vw;
  }
  .planet6 {
    top: 70%;
    left: -10%;
    width: 40vw;
  }
  .character2 {
    top: 60%;
    left: 4%;
    width: 24vw;
  }

  /* 타이틀 영역 */
  .common-tit {
    font-size: 34px;
  }
  #tit_menu li a {
    font-size: 18px;
  }
  #tit_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  #tit_menu li a {
    display: inline-block;
    padding: 0 40px;
    transition: all 0.3s;
    color: white;
    position: relative;
  }
  
  /* 푸터 영역 */
  #footer_sec .wrap {
    width: 90%;
  }
  #footer_sec #footer #footmenu {
    flex-wrap: wrap;
  }
  #sns {
    margin-top: 20px;
  }
  #footer_sec #partner {
    width: 100%;
    margin: 70px auto 6%;
  }
}
